<nav id="navbar" class="navbar navbar-static-top navbar-inverse hidden-xs" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
    	<%= link_to image_tag("shokuget-logo-small.png", width: "100"), root_path %>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="about <%= current_if_about %>">
          	<%= link_to "企業の皆様へ", about_path %>
        </li>
        <li class="new <%= current_if_posting %>">
          <%= link_to "今すぐ求人広告掲載", '#', "data-toggle" => "modal", "data-target" => "#myModal", style: "color:white; font-size: 20px;" %></li>
	  		<li>
	  			<%= link_to image_tag("twitter.png"), "http://twitter.com/shokuget", target: "_blank", class: "jstip", data: { toggle: "tooltip", placement: "bottom" }, title: "Twitter" %>
	  		</li>
	  		<li>
	  			<%= link_to image_tag("facebook.png"), "http://facebook.com/shokuget", target: "_blank", class: "jstip", data: { toggle: "tooltip", placement: "bottom" }, title: "facebook" %>
	  		</li>
	    	<li>
	    		<%= link_to image_tag("envelope.png"), contact_path, :onclick=>"window.open(this.href,'popup_form', 'height=500, width=460, top=200px, left=100px, directories=no, location=no, menubar=no, status=no, titlebar=no, toolbar=no, status=no');return false;", class: "feedback jstip", data: { toggle: "tooltip", placement: "bottom" }, title: "お問い合わせ" %>
	    	</li>
      </ul>
    </div>
  </div>
</nav>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:black;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">広告を掲載される企業様へ</h4>
      </div>
      <div class="modal-body">
        現在プロモーションコードを発行中です。プロモーションコードをお持ちでない企業様は下記「プロモーションコード申請」ボタンよりご申請ください。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
        <%= link_to "プロモーションコード申請", contact_path(content: "プロモーションコードを申請します。"), :onclick=>"window.open(this.href,'popup_form', 'height=500, width=460, top=200px, left=100px, directories=no, location=no, menubar=no, status=no, titlebar=no, toolbar=no, status=no');return false;", class: "feedback", class: "btn btn-default" %>
        <%= link_to "広告を作成する", new_job_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>